body{
    background-color: #ffa801;
    width: 100vw;
    overflow-x: hidden;
    /* padding: 1rem; */
}
.mycontainer1{
    padding-top: 2rem;
    padding-left: 50px;
}
.logo1{
    height: 3.5rem;
    width: 4rem;
}
.logo2{
    height: 3.5rem;
    width: 10rem;
    padding-left: 15px;
}

.mycontainer2{
    padding-left: 60px;
    padding-top: 15px;
}
.mycontainer2 h1{
    /* color: white; */
    font-family: 'Lato', sans-serif;
}

.mycontainer3 h1{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: larger;
}

.logo3{
    position: fixed;
    bottom: 10px;
    left: 50px;
}
.triedge{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    position: fixed;
    bottom: 10px;
    left: 50px;

}
.line{
    height: 0.75rem;
    width: 76%;
    background-color: white;
    position: absolute;
    bottom: 8rem;
}

.vectorimg{
    position: absolute;
    /*left: 66.5rem;*/
    right: 5rem;
    bottom: 3rem;
}
.hiring-img{
    display: none;


}
.class-item{
    display: flex;
}
.main-item{
    display: block;
}
@media screen and (max-width: 500px) {
    body{
        background-color: #eb7f5f;
    }
    .mycontainer1{
        text-align: center;
        padding-top: 2rem;
        padding-left: 0;
    }
    .vectorimg{
        position: relative;
        text-align: center;
        top: 1rem;
        right: 0;
        bottom: 0;
    }
    .hiring-img{
        display: block;
        height: 100px;
        /* margin-top:1.5rem; */
    
    }
    .line{
      display: none;
    }
    .mycontainer2{
        gap: 1rem;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        /* color: black; */
        display: flex;
        margin-top: 2rem;
        padding-left: 0;
        padding-top: 0;
        color:#ffa801;
        
        /* margin: 0.5rem; */
    }
    .class-item1,.class-item2,.class-item3,.class-item{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    padding-left: 1rem;
    
   }
   .main-item{
    display: block;
    margin-bottom: 3rem;
}
   
   
  }
/*
.flex-container{
    display: flex;
    align-items: center;
}
.flex-container > div{
    margin: 10px;
}


.logo2{
    position: absolute;
    bottom: 1px;
    left: 30px;
}
.logo2 img{
    height: 100px;
}
.logo2 p{
    position: absolute;
    bottom: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
}
.jobDesc h1{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 25px;
}

.hiring{
    position: absolute;
    right: 15%;
    top: 50px;
}
.hire{
    height: 150px;
    width: 150px;
}
*/
